html
  head
    style.
      code { white-space: pre-wrap; }
      .index { position: fixed; width: 25%; }
      .content { position: relative; margin: 0 0 0 25%; width: 75%; }
      .method-type { font-weight: normal; }
  body
    include ../output/index.html

    .content
      h1(class=data.isPublic ? "public" : "", class=data.isDefault ? "default" : "")= data.name
      p!= data.comments.parsed
      h2 Inheritance Hierarchy
      p= data.extends ? data.extends : "Object"
      h2 Functions
      each method in data.methods
        h3(id="method-" + method.name, class=method.isConstructor ? "constructor" : "", class=method.isStatic ? "static" : "", class=method.isGetter ? "getter" : "", class=method.isSetter ? "setter" : "", class=method.isGenerator ? "generator" : "")
          if method.isStatic
            span.method-type static&nbsp;
          if method.isGetter
            span.method-type getter&nbsp;
          if method.isSetter
            span.method-type setter&nbsp;
          if method.isGenerator
            span.method-type generator&nbsp;
          | #{method.name}
        p!= method.comments.parsed
        - var params = method.comments.tags.filter(function(x){ return x.title == "param" })
        if params.length > 0
          h4 Parameters
          dl
          each param in params
            dt(id="method-" + method.name + "-param-" + param.name)= param.name
              dd= param.description
