html
  head
  body
    h1(class=data.isPublic ? "public" : "", class=data.isDefault ? "default" : "")= data.name
    p!= data.comments.parsed
    each method in data.methods
      h2(class=method.isConstructor ? "constructor" : "", class=method.isStatic ? "static" : "", class=method.isGetter ? "getter" : "", class=method.isSetter ? "setter" : "", class=method.isGenerator ? "generator" : "")= method.name
      p!= method.comments.parsed
      table
        each tag in method.comments.tags
          tr
            td= tag.title
            td= tag.name
            td= tag.type ? tag.type.name : ""
            td= tag.description
